<!-- <a routerLink="/payment"> sda</a>  -->

<div class="landing-wrapper">
  <div class="landing-picture-container">
    <img src="assets/img/slideshow/bag1.jpg" class="landing-picture" alt="da">
  </div>
  <div class="landing-info">
    <div class="product-title">Få 2 nr. af Illustreret Videnskab + VEEGO weekendtaske</div>
    <div class="product-price bounceIn">399,-</div>
    <div class="product-details">Product details</div>
    <div>
      <ul>
        <li>Briefcase in smooth leather</li>
        <li>Detachable shoulder strap</li>
        <li>One main zipped compartment accessible from the top</li>
        <li>Inside features one large zipped pocket, one large open pocket, three small open pockets, three pen slots
          and a dog hook key ring</li>
        <li>Size:28.5 x 38 x 5.5 cm</li>
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-dark add-to-bag-button" routerLink="/payment">BESTIL NU</button>
</div>